@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
    margin: 0 auto;
}
.text{
    text-align: center;
    margin: 50px auto;
    max-width: 500px;
}
.text p{
    font-size: 1em;
    color:hsl(229, 6%, 66%);
}
.light-heading{
    font-weight: 200;
    margin-bottom: -25px;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
}
h2{
    font-size: 1.3em;
    font-weight: 600;
}
.box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 25px;
    width: 350px;
    height: 250px;
}
.box p{
    font-size: 14px;
    color:hsl(229, 6%, 66%);
    margin: 15px 0 30px;
}

img{
    display: block;
    margin-left: auto;
}
.team-builder{
    border-top: hsl(0, 78%, 62%) solid;
}
.supervisor{
    border-top:  hsl(180, 62%, 55%) solid;
}
.karma{
    border-top: hsl(34, 97%, 64%) solid;
}
.calculator{
    border-top: hsl(212, 86%, 64%) solid;
}
.box-down{
    transform: translateY(50%);
}

@media (max-width:1160px){
    .box-down{
        transform: translateY(-0%);
    }
}
@media (max-width:760px) {
    .text{
        width: 400px;
        font-size: .8em;
    }
    .box-down{
        transform: translateY(0%);
    }
}
@media (max-width:400px){
    .boxes{
        max-width: 90%;
    }
    .text{
        max-width: 300px;
        font-size: .75em;
    }
    .light-heading{
        margin-bottom: -15px;
        }
    .bold-heading{
        font-weight: 400;
    }
}